.route { 
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    height: calc(100vh - 70px);
    width: 100vw;
}
.enter {
    opacity: 0;
}
.enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
    transition-delay: 500ms;
}
.exit {
    opacity: 1;
}
.exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

@media screen and (max-width: 590px) { 
    .route {
        height: 80vh;
    }
}