#match-original-game-container {
  width: 100%;
  padding: 50px 0 50px 0;
}

.matches-original {
  display: flex;
  align-items: center;
}

.match-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin: 20px 0;
  height: 115px;
}

@media screen and (max-width: 780px) {
  .match-row { 
      height: 80px;
  }
}

@media screen and (max-width: 590px) {
  .match-row { 
      height: 70px;
  }
}

.match-row:first-child {
  margin-top: 0px;
}

.match-row:last-child {
  margin-bottom: 0px;
}

.match-row:hover {
  background: rgba(255, 193, 7, 0.21);
}

.matches-fixed-width-container { 
  width: 550px;
  display: flex;
  justify-content: center;
}