#match-original-game-container {
  width: 100%;
  padding: 100px 0 50px 0;
}

.matches-original {
  display: flex;
  height: 100vh;
  align-items: center;
}

.match-row {
  display: flex;
  align-items: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.match-row:hover {
  background: #fcc;
}

.matches-fixed-width-container { 
  width: 700px;
  display: flex;
  justify-content: center;
}