.match-row {
  display:flex;
  align-items: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.match-row:hover {
  background: #fcc;
}

.matches-fixed-width-container { 
  width: 700px;
}